    .main{
        width: 100%;
        display: flex;
        justify-content: space-between ;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
       

        .card{
            margin-top: 20px;
            width: 48%;
            border-radius: 10px;
            box-shadow: 0px 0px 15px -8px black;
            display: flex;
            flex-direction: column;
            padding: 2px;           


            .top{
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin-top: 10px;

                .masterbtn{
                    background-color:rgb(160,7,7);
                     color:white;
                    border:1px solid rgb(162,106,23);
                    font-size: 8px;
                }

                .followbtn{
                background-color:rgb(1,126,251);
                color:white;
                font-size: 12px;
                padding-left: 25px;
                padding-right: 25px;
                }
            }

            .topnote{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 5px 10px;
                color: gray
            }

            .overviewtab{
                display: flex;
                align-items: center;
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 10px;
                font-size: 18px;

                .tab1{
                    cursor: pointer;
                    border-top: 2px solid rgb(1,126,251);;
                    border-left: 2px solid rgb(1,126,251);;
                    background-color: rgb(1,126,251);
                    color: white;  
                    padding: 8px; 
                    border-top-left-radius: 10px;
                }
                .tab2{
                    border: 2px solid rgb(1,126,251);
                    border-bottom: 0;
                    cursor: pointer;
                    color:rgb(1,126,251);
                    padding: 8px;
                    border-top-right-radius: 10px;
                }
            }
            .overview{
                height: 100%;
                width: 95%;
                border-top: 2px solid rgb(1,126,251);
                border-left: 2px solid rgb(1,126,251);
                border-right: 2px solid rgb(1,126,251);
                border-top-right-radius: 10px;
                margin-left: 10px;
                background-color: rgb(226,247,255);
                display: flex;
                justify-content: space-between ;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                .leftover{
                    width: 50%;

                    .overicon{
                        display: flex;
                        align-items: center;
                        font-size: 17px;
                        margin: 10px;
                        .icon{
                            margin-right: 5px;
                        }
                    }
                }
                .rightover{
                    width: 40%;
                    height: 100%;
                    background-color: white;
                    margin: 20px;
                    text-align: center;
                    border-radius: 10px;
                    .rightovericon{
                        color:rgb(228,198,138);
                        margin-top: 10px;
                    }
                    .rightovertitle{
                        color:rgb(208, 171, 99);
                        font-size: 18px;
                    }
                    .profit{
                        color:rgb(1,126,251);
                        font-size: 18px;
                        margin: 12px 0;
                    }
                    .desc{
                        text-align: center;
                        font-size: 12px;
                        padding: 8px;
                    }
                    .overbuy{
                        background-color:rgb(1,126,251);
                         color:white;
                         margin: 10px;
                         width: 90%;
                         border-radius: 8px;
                    }
                }
           
            }
            .footer{
                width: 96%;
                background-color: rgb(1,126,251);
                color:white;
                margin-left: 10px;
                margin-bottom: 15px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                
                .descfooter{
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    padding-top: 5px;
                    padding-bottom: 5px;

                    .descitem{
                        margin: 8px;
                        display: flex;
                        align-items: center;
                        
                    }
                    .descicon{
                        font-size: 12px
                    }
                }
            }    
        }
    }